#titulo{
    text-align: center;
}

#table{
    background-color: darkkhaki;

}

#linesReg{
    text-align: center;
}

#btncalcular{
    border-radius: 10%;
}

#q1{
    border: 50px;
}

#q2{
    border: 50px;
}

#q3{
    border: 50px; 
}

#q4{
    border: 50px;
}