
<div id="titulo">
    <h3>Calculo De Consumo Energético</h3>
</div>
    
<table class="table text-center" id="table">
    <thead>
      <tr>
        <td>
          quantas pessoas moram na sua casa?

          <div class="input-group flex-nowrap">
              <span class="input-group-text" id="addon-wrapping"></span>
              <input type="text" 
              class="form-control" 
              placeholder="quantidade"  
              aria-describedby="addon-wrapping"
              width="50px"
              [(ngModel)] = "pessoas">
            </div>

            quantos cômodos existem na sua casa?

          <div class="input-group flex-nowrap">
              <span class="input-group-text" id="addon-wrapping"></span>
              <input type="text" 
              class="form-control" 
              placeholder="quantidade"  
              aria-describedby="addon-wrapping"
              width="50px" readonly>
            </div>

        </td>
      </tr>
    </thead>
    
    <tbody>

    <tr>       
      <td>
        quais desses eletrodomesticos você possui?

        <div class="form-check">       

            <label 
            class="form-check-label" 
            for="flexCheckIndeterminate">
            Máquina De lavar

              <input      
              class="form-check-input" 
              type="checkbox" value="" 
              id="check1"><br>

              quantidade <input 
              type="text" 
              id = "q1" 
              [(ngModel)] = "qtd1"><br>

            </label>     
        </div>

        <div class="form-check">

            <label
            
            class="form-check-label" 
            for="flexCheckIndeterminate">
            Secardora de Roupas

              <input      
              class="form-check-input" 
              type="checkbox" value="" 
              id="check2"><br>

              quantidade <input 
              type="text" 
              id = "q2" 
              [(ngModel)] = "qtd2"><br>

            </label>     
        </div>

        <div class="form-check">
                   
            <label 
            class="form-check-label" 
            for="flexCheckIndeterminate">
            TV´S <!-- 20 kw * h -->

              <input      
              class="form-check-input" 
              type="checkbox" value="" 
              id="check3"><br>

              quantidade <input 
              type="text" 
              id = "q3" 
              [(ngModel)] = "qtd3"><br>

            </label>
          
        </div>

        <div class="form-check">
                   
          <label 
          class="form-check-label" 
          for="flexCheckIndeterminate">
          Computador <!-- 5 kw * h -->

            <input      
            class="form-check-input" 
            type="checkbox" value="" 
            id="check4"><br>

            quantidade <input 
            type="text" id = "q4" 
            [(ngModel)] = "qtd4"><br>
            
          </label>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <button (click)="teste()" id="btncalcular"> Calcular</button><br>
        
        <input 
        type="text" 
        id = "q4" 
        placeholder="Horas de uso"  
        [(ngModel)] = "valHora">

        <input 
        type="text" 
        id = "q4" 
        placeholder="Resultado"  
        [(ngModel)] = "resultCalc" 
        readonly>

      </td>
    </tr>

    </tbody>
  
</table>