
<div id="titulo">
    <h3>Calculo De Consumo Energético</h3>
</div>
    
<table class="table text-center" id="table">
    <thead>
      <tr>
        <td>quantas pessoas moram na sua casa?

          <div class="input-group flex-nowrap">
              <span class="input-group-text" id="addon-wrapping"></span>
              <input type="text" 
              class="form-control" 
              placeholder="quantidade" 
              aria-label="Username" 
              aria-describedby="addon-wrapping"
              width="50px"
              [(ngModel)] = "pessoas">
            </div>

      </td>
      </tr>
    </thead>
    
    <tbody>

    <tr>       
      <td>
        quais desses eletrodomesticos você possui?


        <div class="form-check">       

            <label 
            class="form-check-label" 
            for="flexCheckIndeterminate">
            Máquina De lavar

              <input      
              class="form-check-input" 
              type="checkbox" value="" 
              id="check1">

            </label>     
        </div>

        <div class="form-check">

            <label
            
            class="form-check-label" 
            for="flexCheckIndeterminate">
            Secardora de Roupas

              <input      
              class="form-check-input" 
              type="checkbox" value="" 
              id="check2">

            </label>     
        </div>

        <div class="form-check">
                   
            <label 
            class="form-check-label" 
            for="flexCheckIndeterminate">
            Secardora de Roupas

              <input      
              class="form-check-input" 
              type="checkbox" value="" 
              id="check3">

            </label>
          
        </div>

      </td>
    </tr>

    <tr>
      <td>
        <button (click)="teste()"> Calculo</button>
      </td>
    </tr>

    </tbody>
  
</table>